section.hero.homepage{
  background-image: url('./assets/plants.jpeg');
  background-size: cover;

  .hero-body{
    align-items: flex-end;
  }
  p.title{
    text-shadow: #000 0px 0px 3px;
    font-size: 5em;
    margin-bottom: 0.5rem;
  }
  p.subtitle{
    text-shadow: #000 0px 0px 3px;
    font-size: 2em;
  }
}

section.index-page{

  &.hero{
    background-image: url('./assets/leaf.jpeg');
    background-size: cover;
    background-position: left bottom;
    text-shadow: #000 0px 0px 3px;
  }

  &.main-content{
    .plant-pic{
      height: 150px;
      width: 150px;
      border-radius: 100%;
      object-fit: cover;
    }
    .column{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .message-text{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-footer-item{
      width:100%;
    }
    .foot-wrapper{
      width:100%;
    }
  }
}


section.plant-show{
  section:first-child{
    padding-top: 0;
  }

  .title-level{
    margin-bottom: 2px;
  }

  .vital-statistics{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    order: 2px solid grey;
  }

  .textarea.comment-text{
    height: 70px;
    min-height: 50px;
  }

  .plant-advice-column, .plant-pic-column{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;

    .plant-pic{
      height: 300px;
      width: 300px;
      border-radius: 100%;
      object-fit: cover;
    }
    .plant-advice{
      width: 300px;
      text-align: center;
    }
  }

}



.button.is-dark:hover{
    color: black;
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
